body {
  background: transparent; }

h2.section-title {
  font-family: Great Vibes, sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px 1px white;
  -moz-text-shadow: 1px 1px 1px white;
  -webkit-text-shadow: 1px 1px 1px white; }

h3.content-title {
  font-family: Pacifico, sans-serif; }

.font-normal {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

#header {
  background: rgba(255, 255, 255, 0.8); }
  #header .main-nav {
    text-align: center; }
    #header .main-nav ul {
      margin: 0 auto; }
  #header .main-nav a:hover,
  #header .main-nav a.highlight,
  #header .main-nav a.active {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(255, 255, 255, 0.2); }

#hero {
  min-height: 100%;
  z-index: 10;
  background: url("../img/save-the-date-bg.jpg") no-repeat bottom;
  background-size: 100%; }
  #hero .wedding-banner {
    width: 30%; }

#about {
  height: 100%;
  position: relative;
  z-index: 1; }
  #about:before {
    height: 100%;
    width: 100%;
    background: url("../img/wedding-party-2.jpg") repeat center;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: " ";
    opacity: 0.2; }
  #about h2 {
    padding-bottom: 20px;
    border-bottom: 3px double #999999; }

#party {
  height: 100%; }

#photos {
  height: 100%; }

#information {
  height: 100%;
  position: relative; }
  #information #map-canvas {
    height: 100%;
    opacity: 0.4; }
  #information h2.section-title {
    width: 100%;
    position: absolute;
    top: 0; }

#footer {
  height: 500px;
  background: #333333; }

.border-radius-none {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0; }

.drop-shadow {
  -moz-box-shadow: 0 0 10px 6px #bbbbbb;
  -webkit-box-shadow: 0 0 10px 6px #bbbbbb;
  box-shadow: 0 0 10px 6px #bbbbbb; }

.mt80 {
  margin-top: 80px; }
